<div class="block-box">
<div class="block-box-head">Фотогалерея</div>
<div class="block-box-body">
<?php if (!$this->photos->count()): ?>
    <div class="alert alert-info">Еще ни одной фотографии не было загружено...</div>
<?php else: ?>
    <ul class="thumbnails">
        <?php foreach($this->photos as $photo): ?>
        <li class="span3">
            <a href="/photo<?php echo $photo['id'] ?>" class="thumbnail">
                <img src="<?php echo $photo['url'] ?>" alt="" style="height: 120px;">

                <p><?php
                $d = $photo['description'];
                if (strlen($d) > 20) {
                    $short  = substr($d, 0, 20);
                    $lspace = strripos($short, ' ');
                    $d = substr($d, 0, $lspace);
                }
                echo $d, ' ...';
                ?></p>
            </a>
        </li>
        <?php endforeach; ?>
    </ul>
    <?php echo $this->paginationControl($this->photos, 'Sliding', 'pagination.html'); ?>
<?php endif; ?>
</div>
</div>