<h1>Добавить новую статью</h1>
<?php if ($this->error): ?>
	<div class="error"><?php echo $this->error ?></div>
<?php endif; ?>
<form id="advice-data" enctype="application/x-www-form-urlencoded" method="post" action="/admin/article/add" class="form-horizontal">
	<dt>
		<label for="title">Заголовок</label>
	</dt>
	<dd>
		<input type="text" name="title" id="title" value="<?php echo $this->title ?>" />
	</dd>
	<dt>
		<label for="published">Опубликовать</label>
	</dt>
	<dd>
		<input type="checkbox" name="published" id="published" />
	</dd>
	<textarea id="redactor_content" name="body">
		<?php echo $this->body ?>
	</textarea>
	<div class="form-actions">
		<input type="submit" name="save" id="save" value="Добавить" class="btn">
		<input type="submit" name="cancel" id="cancel" value="Закрыть" class="btn" onclick="location = '/article'; return false;">
	</div>
</form>