<div class="fright">
	<?php if ($this->article['published'] == 'on'): ?>
		<a href="/admin/article/nopublished?id=<?php echo $this->article['id'] ?>">Не опубликовывать</a>
	<?php else: ?>
		<a href="/admin/article/published?id=<?php echo $this->article['id'] ?>">Опубликовать</a>
	<?php endif; ?>
	<a href="/admin/article/edit?id=<?php echo $this->article['id'] ?>">Редактировать</a>
	<a href="/admin/article/delete?id=<?php echo $this->article['id'] ?>">Удалить</a>
</div>
<div  style="clear: both;"></div>